//null style
@import "style";

//import project fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,600,900");
@import url("https://use.typekit.net/dlv1cty.css");

//color projects
$bgColor:#41414a;
$bgColorLine: #3e79c1;
$bgColorLine-hover: #0a63d0;
$bgColorLine-transparent:#3e79c1ce;
$bgColorLine-dark:#074694;
$fontColor: #bebebe;
$bgImage: url('../resource/bg-Bluepoligon.png');

// fonts project
$font-title : 'Raleway', sans-serif;
$font-text: 'Muli', sans-serif;

@mixin styleText {
    font-family: $font-text;
    font-size: 16px;
    font-weight: 300;
    color:$fontColor;
}
@mixin styleTitle {
    font-family: $font-title;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color:$fontColor;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height:100%;
    overflow:hidden
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    &-bg-image {
        max-width: 100%;
        height: 350px;
        background: $bgColor $bgImage no-repeat 100% / cover fixed;
    }
    &__box{
        width: 100%;
        min-height: 550px;
        position: relative;
    }

}
.card {
    transform: translate(120%, 0%);
    opacity: 0;
    position: absolute;
    top: 30%;
    display:flex;
    background: $bgColor;
    justify-content: space-between;
    width: calc(100% - 65px);
    padding: 5vh 30px;
    -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
    border-left: 5px solid $bgColorLine-hover;
    &._active{
        transform: translate(0, 0);
        opacity: 1;
        transition: transform ease 1.2s;
    }
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 50%;
        font-family: $font-text;
        font-weight: 400;
        font-size: 16px;
        color: $fontColor;
        
    }
    &__title {
        @include styleTitle;
        font-size: 36px;
        color: $fontColor;
        flex:5%;
    }
    &__sub-title {
        @include styleTitle;
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 0 0;
        flex: 35%;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex:30%;  
    }
    &__item {
        a{
            transition: all ease 0.6s;
            color:$bgColorLine;
            &:hover{
                color:$bgColorLine-dark;
            }  
            cursor: pointer;     
        }
        i{
            margin:0 15px 0 0;
        }
    }
    &__img{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:$fontColor url('../resource/my-photo.jpg') 100% / cover;
    }
}
.separator{
    width: 100%;
    height: 1px;
    background-color: $fontColor;
    margin: 5vh 0;;
}
.main{
    padding: 10vh 0 0 0 ;
    background-color: $bgColor;
    
    .hello{
        transform: translate(-120%, 0);
            opacity: 0; 
        &._active{
            transform: translate(0%, 0);
            opacity: 1; 
            transition: transform ease 1.2s;
        }
        margin: 35vh 0 0 0;
        background-color: $bgColor;
        display: flex;
        width: calc(100% - 5px);
        flex-direction: column;
        border-left: 5px solid $bgColorLine-hover;
        
        -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
         box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
         text-align: center;
         &__text{
            font-family: $font-text;
            color: $fontColor;
            font-weight: 400;
            line-height: 110%;
            margin: 5vh 30px 2vh 30px;
        }
        &__button{
            background-color: $bgColorLine;
            margin: 5vh 30px 5vh 30px;
            align-self: center;
            width: 25%;
            padding: 15px 30px;
            font-family: $font-title;
            font-size: 18px;
            font-weight: 500;
            border-radius: 3px;
            &:hover{
                transition: ease 800ms;
                -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                background-color: $bgColorLine-hover;
            }
        }
    }
    .education{
        width: 100%;
        margin: 15vh 0 10vh 0 ;
        background-color: $bgColor;
        &__rows{
            position: relative;
            min-height: 65vh;
        }
        &__icon-label{
            display: flex;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $bgColorLine;
            justify-content: center;
            align-items: center;
            @include styleTitle;
            color:$bgColor;
            font-size: 30px;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
            z-index: 2;
        }
        &__block{
            transform: scale(0.2);
            opacity: 0; 
            &._active{
            transform: scale(1);
            opacity: 1; 
            transition: transform ease 1.2s;
        }
            border-left: 5px solid $bgColorLine-hover;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
            padding:15px 30px;
            margin: 2vh 0;
            width: 35%;
            z-index: 3;
            background-color: $bgColor;
        }
        .block-1{
            position: absolute;
            top: 0;
            left: 0;
            
        }
        .block-2{
            position: absolute;
            top: 150px;
            right: 0px;
        }
        .block-3{
            position: absolute;
            top: 270px;
            left: 0;
            a{
                transition: all ease 0.6s;
                color:$bgColorLine;
                &:hover{
                    color:$bgColorLine-dark;
                }  
            }
        }

        .icon-label-1{
            position: absolute;
            top: 20px;
            left:47%;
            &::after{
                position: absolute;
                left: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
            &::before{
                position: absolute;
                top:55px;
                left: 46%;
                content: '';
                width: 3px;
                height: 220px;
                background-color: $bgColorLine-transparent;
                z-index: 0;
            }
        }
        .icon-label-2{
            position: absolute;
            top: 170px;
            left:47%;
            &::after{
                position: absolute;
                right: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
        }
        .icon-label-3{
            position: absolute;
            top: 280px;
            left:47%;
            &::after{
                position: absolute;
                left: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
        }
        &__title{
            @include styleTitle;
            text-transform: uppercase;
            margin: 0 0 8vh 0;
            text-align: center;
        }
        &__sub-title{
            @include styleTitle;
            font-size: 24px;
        }
        &__text{
            @include styleText;
        }
    }
    .skils{
        width: 100%;
        transform: scale(2);
            opacity: 0;
            &._active{
                transform: scale(1);
                opacity: 1;
                transition: all ease 1.2s;
            }
        &__title {
            @include styleTitle();
            text-align: center;
            text-transform: uppercase;
        }
        &__rows {
            background-color: $bgColorLine;
            width: calc(100%-60px);
            
            display: flex;
            justify-content: space-between;
            padding: 5vh 30px;
            margin: 5vh 0 0 0;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
        }
        .column {
            width: 30%;
            &__label {
                @include styleTitle();
                color: $bgColor;
                font-size: 1.5em;
                text-align: center;
            }
        }
       
        .skillbar {
            &__label {
                @include styleText();
                color: $bgColor;
                display: flex;
                justify-content: space-between;
            }
            &__block{
                display: flex;
                justify-content: space-between;
                margin: 3vh 0 0 0;
            }
        }
        
    }
}
//mobile phone landscape and portrait
@media only screen and (min-device-width : 320px) and (max-device-width: 767px){
    .conteiner{
        max-width: 100%;
    }
    .header{
        &-bg-image {
            max-width: 100%;
            height: 300px;
            background: $bgColor $bgImage no-repeat 100% / cover fixed;
            padding: 20vh 0;
        }
        &__box{
            width: 100%;
            height: 150px;
            position: relative;
        }
    
    }
    .card {
        transform: translate(120%, 0%);
        opacity: 0;
        position: absolute;
        top: 20%;
        display:flex;
        background: $bgColor;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 33px);
        padding: 5vh 15px;
        -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
        box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
        border-left: 3px solid $bgColorLine;
        &__main {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 1 50%;
            font-family: $font-text;
            font-weight: 400;
            font-size: 16px;
            color: $fontColor;
            order: 2;
        }
        &__title {
            @include styleTitle;
            font-size: 26px;
            color: $fontColor;
            flex:5%;
        }
        &__sub-title {
            @include styleTitle;
            font-size: 18px;
            font-weight: 600;
            margin: 10px 0 0 0;
            flex: 35%;
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex:30%;
        }
        &__item {
            a{
                color: $bgColorLine-hover;
                cursor: pointer;     
            }
            i{
                margin:1vh 15px 0 0;
            }
        }
        &__img{
            position: absolute;
            top: -130px;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            order: 1;
            align-items: center;
            border-radius: 50%;
            background:$fontColor url('../resource/my-photo.jpg') 100% / cover;
        }
    }
    .main{
        padding: 0 0 0 0 ;
        background-color: $bgColor;
        
        .hello{
            transform: translate(-120%, 0);
                opacity: 0; 
            &._active{
                transform: translate(0%, 0);
                opacity: 1; 
                transition: transform ease 1.2s;
            }
            margin: -5vh 0 0 0;
            background-color: $bgColor;
            display: flex;
            width: calc(100% - 3px);
            flex-direction: column;
            border-left: 3px solid $bgColorLine;
            
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
             box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
             text-align: center;
             &__text{
                font-family: $font-text;
                color: $fontColor;
                font-weight: 400;
                line-height: 110%;
                margin: 5vh 15px 2vh 15px;
            }
            &__button{
                background-color: $bgColorLine;
                margin: 5vh auto;
                align-self: center;
                width: 50%;
                padding: 15px 20px;
                font-family: $font-title;
                font-size: 16px;
                font-weight: 500;
                border-radius: 3px;
            }
        }
        .education{
            width: 100%;
            background-color: $bgColor;
            
            margin: 5vh 0 0 0 !important;
            &__rows{
                min-height: 55vh!important;
                flex-direction: column;
                height:100%;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background: $bgColorLine-transparent;
                    width: 3px;
                    height: 200px;
                    z-index: 2;
                    display: block;
                    justify-content: center;
                    left: calc(50% - 3px);
                    top: 100px;
                }
            }
            &__icon-label{
                display: flex;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $bgColorLine;
                justify-content: center;
                align-items: center;
                @include styleTitle;
                color:$bgColor;
                font-size: 15px;
                -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                z-index: 2;
            }
            &__block{
                transform: scale(0.2);
                opacity: 0; 
                &._active{
                transform: scale(1);
                opacity: 1; 
                transition: transform ease 1.2s;
            }
                border-left: 3px solid $bgColorLine-hover;
                -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                padding:15px 20px;
                width: calc(100% - 43px);
                z-index: 3;
                background-color: $bgColor;
                margin: 2vh 0;
            }
            .block-1{
                position: relative;
                top:0;
                &::before{
                    content: 'S';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: $bgColorLine;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    right: 7px;
                    top: 2px;
                    -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                    box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                }
            }
            .block-2{
                top:0;
                position: relative;
                &::before{
                    content: 'U';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: $bgColorLine;
                    border-radius: 50%;
                    right: 7px;
                    top: 2px;
                    width: 30px;
                    height: 30px;
                    -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                    box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                }
            }
            .block-3{
                top:0;
                position: relative;
                &::before{
                    content: 'C';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: $bgColorLine;
                    border-radius: 50%;
                    right: 7px;
                    top: 2px;
                    width: 30px;
                    height: 30px;
                    -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                    box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
                }
            }
            .icon-label-1{
                position: absolute;
                top:5px;
                left: 375px;
                z-index: 4;
                opacity: 0;
                &::after{
                    opacity: 0;
                }
                &::before{
                    left: -150%;
                    opacity: 0;
                    z-index: 1;
                }
            }
            .icon-label-2{
                position: absolute;
                top:195px;
                left: 375px;
                z-index: 4;
                opacity: 0;
                &::after{
                    opacity: 0;
                }
            }
            .icon-label-3{
                position: absolute;
                z-index: 4;
                left: 90%;
                top: 90%;
                opacity: 0;
                &::after{
                    opacity: 0;
                }
            }
            &__title{
                @include styleTitle;
                text-transform: uppercase;
                margin: 0 0 2.5vh 0;
                text-align: center;
                font-size: 26px;
            }
            &__sub-title{
                @include styleTitle;
                font-size: 16px;
                margin-bottom: 2.5vh;
            }
            &__text{
                @include styleText;
            }
        }
        .skils{
            width: 100%;
            &__title {
                @include styleTitle();
                text-align: center;
                text-transform: uppercase;
                font-size: 26px;       
            }
            &__rows {
                width: calc(100%-60px);
                display: flex;
                flex-direction: column;
                padding: 5vh 15px;
                margin: 3vh 0 0 0;
                background-color: $bgColorLine;
                -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
                box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
            }
            .column {
                width: 100%;
                &:not(:first-child){
                    margin: 3vh 0 0 0;
                }
                &__label {
                    @include styleTitle();
                    color: $bgColor;
                    font-size: 26px;
                    text-align: center;
                }
            }
           
            .skillbar {
                &__label {
                    @include styleText();
                    color: $bgColor;
                    display: flex;
                    justify-content: space-between;
                }
                &__block{
                    display: flex;
                    margin: 3vh 0 0 0;
                }
            }
            
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hello{
        margin: 40vh 0 0 0 !important;
    }
    .education{
        width: 100%;
        background-color: $bgColor;
        min-height: 500px!important;
        &__rows{
            position: relative;
        }
        &__icon-label{
            display: flex;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $bgColorLine;
            justify-content: center;
            align-items: center;
            @include styleTitle;
            color:$bgColor;
            font-size: 30px;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
            z-index: 2;
        }
        &__block{
            transform: scale(0.2);
            opacity: 0; 
            &._active{
            transform: scale(1);
            opacity: 1; 
            transition: transform ease 1.2s;
        }
            border-left: 5px solid $bgColorLine-hover;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
            padding:15px 30px;
            margin: 2vh 0;
            width: 35%;
            z-index: 3;
            background-color: $bgColor;
        }
        .block-1{
            position: absolute;
            top: 0;
            left: 0;
            
        }
        .block-2{
            position: absolute;
            top: 150px;
            right: 0px;
        }
        .block-3{
            position: absolute;
            top: 300px !important;
            left: 0;
        }

        .icon-label-1{
            position: absolute;
            top: 20px;
            left:47%;
            &::after{
                position: absolute;
                left: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
            &::before{
                position: absolute;
                top:35px;
                left: 46%;
                content: '';
                width: 3px;
                height: 300px !important;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
        }
        .icon-label-2{
            position: absolute;
            top: 170px;
            left:47%;
            &::after{
                position: absolute;
                right: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
        }
        .icon-label-3{
            position: absolute;
            top: 320px !important;
            left:47%;
            &::after{
                position: absolute;
                left: -101px;
                content: '';
                width: 105px;
                height: 3px;
                background-color: $bgColorLine-transparent;
                z-index: 1;
            }
        }
        &__title{
            @include styleTitle;
            text-transform: uppercase;
            margin: 0 0 8vh 0;
            text-align: center;
        }
        &__sub-title{
            @include styleTitle;
            font-size: 24px;
        }
        &__text{
            @include styleText;
        }
        

    }
    .skils{
        width: 100%;
        &__title {
            @include styleTitle();
            text-align: center;
            text-transform: uppercase;
        }
        &__rows {
            width: calc(100%-40px);
            display: flex;
            justify-content: space-between;
            padding: 5vh 20px;
            margin: 5vh 0;
            -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6); 
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.6);
        }
        .column {
            width: 25%;
            &__label {
                @include styleTitle();
                color: $bgColor;
                font-size: 20px !important;
                text-align: center;
            }
        }
       
        .skillbar {
            &__label {
                @include styleText();
                color: $bgColor;
                display: flex;
                justify-content: space-between;
            }
        }
        
    }
}